/* General HTML elements */
* { outline: none; }
body { font: 62.5% Arial, Tahoma, Helvetica, sans-serif; margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p, form, dl, dl dt, dl dd, blockquote { margin: 0; padding: 0; }
img { border: none; }
a { text-decoration: underline; }
a:hover { text-decoration: none; }
fieldset { border: none; background: none; margin: 0px; padding: 0px; }
fieldset legend { display: none; }
input, select, textarea { font: 62.5% Verdana, Tahoma, Helvetica, sans-serif; }
/* for modern browser */
input[type="image"], input[type="submit"] { outline: none; }
/* input[checkbox] & input[radio] */
input { vertical-align: baseline; margin: -1px -2px; }
/* firefox */
html>/**/body input { vertical-align: text-bottom; margin: 0px; }
.Line { overflow: visible; height: 1%; }
html>body .Line { overflow: hidden; height: auto; }
object, embed { outline: none; }
.ClearItem { clear: both; height: 0px; overflow: hidden; }

/* Specific Css */ 
#gameBox { background: url(../images/game-bg.png) no-repeat; width: 225px; height: 225px; padding: 6px 6px 7px 7px; }
#game { position: relative; z-index: 1; width: 225px; height: 225px; background:url(../images/game-opacity.png) no-repeat; }
.Piece { position: absolute; }
.LastPiece { }
#timer {line-height: 30px;}
#randomStr { font-size: 2em; line-height: 20px; color: #03F; }

/* Font */
@font-face {
    font-family: 'NokiaPureTextBold';
    src: url('../fonts/nokia_pure_text_bold-webfont.eot');
    src: url('../fonts/nokia_pure_text_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nokia_pure_text_bold-webfont.woff') format('woff'),
         url('../fonts/nokia_pure_text_bold-webfont.ttf') format('truetype'),
         url('../fonts/nokia_pure_text_bold-webfont.svg#NokiaPureTextBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NokiaPureTextRegular';
    src: url('../fonts/nokiapuretext-webfont-webfont.eot');
    src: url('../fonts/nokiapuretext-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nokiapuretext-webfont-webfont.woff') format('woff'),
         url('../fonts/nokiapuretext-webfont-webfont.ttf') format('truetype'),
         url('../fonts/nokiapuretext-webfont-webfont.svg#NokiaPureTextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd65Medium';
    src: url('../fonts/helveticaneueltstd-md-webfont.eot');
    src: url('../fonts/helveticaneueltstd-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-md-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-md-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-md-webfont.svg#HelveticaNeueLTStd65Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTStd35Thin';
    src: url('../fonts/helveticaneueltstd-th-webfont.eot');
    src: url('../fonts/helveticaneueltstd-th-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-th-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-th-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-th-webfont.svg#HelveticaNeueLTStd35Thin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTStd55Roman';
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot');
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-roman-webfont.svg#HelveticaNeueLTStd55Roman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot');
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NokiaPureTextMedium';
    src: url('../fonts/nokiapuretext-medium-webfont.eot');
    src: url('../fonts/nokiapuretext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nokiapuretext-medium-webfont.woff') format('woff'),
         url('../fonts/nokiapuretext-medium-webfont.ttf') format('truetype'),
         url('../fonts/nokiapuretext-medium-webfont.svg#NokiaPureTextMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NokiaPureTextLight';
    src: url('../fonts/nokiapuretext-light-webfont.eot');
    src: url('../fonts/nokiapuretext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nokiapuretext-light-webfont.woff') format('woff'),
         url('../fonts/nokiapuretext-light-webfont.ttf') format('truetype'),
         url('../fonts/nokiapuretext-light-webfont.svg#NokiaPureTextLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/myriadpro-semibold-webfont.eot');
    src: url('../fonts/myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-semibold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-semibold-webfont.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ColorBox Style:*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* User Style:*/
#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:11px; height:11px; background:url(../images/controls.png) no-repeat -114px 0;}
    #cboxTopRight{width:11px; height:11px; background:url(../images/controls.png) no-repeat -125px 0;}
    #cboxBottomLeft{width:11px; height:11px; background:url(../images/controls.png) no-repeat -114px -11px;}
    #cboxBottomRight{width:11px; height:11px; background:url(../images/controls.png) no-repeat -125px -11px;}
    #cboxMiddleLeft{width:11px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:11px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:11px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:11px; background:url(../images/border.png) 0 -16px repeat-x;}
    #cboxContent{overflow:hidden; background: #fff}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:10px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top: 0px; right:0px; background: url(../images/controls.png) no-repeat -28px 0; width:21px; height:21px; text-indent:-9999px;}

/* Website */
.FLeft { float: left;}
.FRight { float: right;}
.DkWrapper { width: 520px; margin: auto; overflow: hidden; position: relative;}
.DkHeader {overflow: hidden; padding: 0 0 1px 0}
.Dktxt01 { font-family: 'NokiaPureTextBold'; font-size: 1em; color: #000; text-transform: uppercase; padding: 0 2px 0 0; line-height: 14px; }
.Dktxt02 { font-family: 'HelveticaNeueLTStd65Medium'; font-size: 2.3em; font-weight: normal; color: #000; padding: 10px 0 0 5px; color:  #ff6600;line-height: 21px; margin: 0 0 0 17px }
.Dktxt03 { font-family: 'HelveticaNeueLTStd35Thin'; font-size: 4.4em; font-weight: normal; color: #000; padding: 0 0 0 4px; color: #dddddd;line-height: 41px; margin: 0 0 0 17px }
.Dktxt02Ext { font-family: 'HelveticaNeueLTStd65Medium'; font-size: 2.7em; font-weight: normal; color: #000; padding: 7px 0 0 5px; color:  #ff6600;line-height: 24px; margin: 0 0 0 17px }
.Dktxt03Ext { font-family: 'HelveticaNeueLTStd35Thin'; font-size: 5.3em; font-weight: normal; color: #000; padding: 0 0 0 4px; color: #fff;line-height: 49px; margin: 0 0 0 17px }
.Dktxt04 { font-family: 'HelveticaNeueLTStd55Roman'; font-size: 1.4em; font-weight: normal; color: #ff6106; line-height: 17px}
.Dktxt05 { font-family: 'NokiaPureTextBold'; font-size: 1.4em; font-weight: normal; color: #fff; text-transform: uppercase; padding: 4px 0 11px 0; line-height: 16px}
.Dktxt06 { font-family: 'NokiaPureTextBold'; font-size: 2em; font-weight: normal; color: #fff; padding: 28px 0 23px 26px; text-transform:uppercase}
.Dktxt07 { font-family: 'HelveticaNeueLTStd55Roman'; font-size: 1.6em; font-weight: normal; color: #ff6106; width: 190px; margin: 0; padding: 0; line-height: 18px; letter-spacing: 1px}
.Dktxt08 { font-family: 'NokiaPureTextBold'; font-size: 1.6em; font-weight: normal; color: #fff; text-transform: uppercase; line-height: 18px;  margin: 0; padding: 1px 0 1px 0;}
.Dktxt09 { font-family: 'HelveticaNeueLTStd55Roman'; font-size: 1.5em; font-weight: normal; color: #fff; margin: 0; padding: 12px 0 0 0; line-height: 15px; letter-spacing: 1px}
.Dktxt10 { font-family: 'NokiaPureTextBold'; font-size: 2.5em; font-weight: normal; color: #fff; text-transform: uppercase; margin: 0; padding: 0; line-height: 34px;}
.Dktxt11 { font-family: 'NokiaPureTextBold'; font-size: 1.6em; font-weight: normal; color: #fff; text-transform: uppercase; padding: 0 0 0 22px;  margin: 0; line-height: 16px}
.Dktxt12 { font-family: 'NokiaPureTextMedium'; font-size: 1.6em; font-weight: normal; color: #fff; text-transform: uppercase; margin: 0; padding: 0}
.Dktxt13 { font-family: 'NokiaPureTextLight'; font-size: 1.6em; font-weight: normal; color: #bbbbbb; padding: 0 0 22px 0;  margin: 0}
.DkMain { background: url(../images/bg-main.png) no-repeat left top; width: 520px; height: 631px; position: relative; z-index: 0; overflow: hidden;}
.DkMainExt {background: url(../images/bg-main-2.png) no-repeat left top;}
.DkBlockRight { width: 398px; padding: 0 0 0 121px; overflow: hidden}
.Blocktxt { font-family: 'NokiaPureTextBold'; font-size: 1.5em; background: url(../images/sprites.png) no-repeat left top; padding: 0px 0 0 57px; margin: 15px 0 10px 17px; width: 240px; color: #fff; line-height: 16px}
.BlocktxtExt { background: url("../images/sprites.png") no-repeat scroll left -654px transparent; color: #FFFFFF ;font-family: 'NokiaPureTextBold'; font-size: 1.6em; line-height: 19px; margin: 42px 0 21px 20px; padding: 0 0 0 60px; text-transform: uppercase; width: 260px;}
.BlocktxtExt span { font-size: 22px; color: #ff6106}
.BlocktxtExt span a { color: #ff6106; text-decoration: none}
.DkGameShow { padding: 0 0 13px 4px; margin: 0 0 0 17px; position: relative }
.DkThumbGame {font-family: 'MyriadProSemibold'; font-size: 1.2em; font-weight:normal; line-height: 77px; padding: 0 0 0 0px; margin: 0 0 13px 56px; color: #fff; }
.DkClasseMent { width: 254px; clear: both; margin: 0 0 0 17px }
.DkClasseMentExt { width: 254px; clear: both; margin: 0 0 0 27px }
.DkTitleClasse { padding: 4px 0 3px 9px; border-top: 1px solid #1f1f1f; border-bottom: 1px solid #1f1f1f; }
.DkTxtClasse { background: url(../images/sprites.png) no-repeat left -222px; font-family: 'NokiaPureTextBold'; font-weight: normal; font-size: 1.8em; color: #ef5613; padding: 0 0 0 51px; text-transform: uppercase; line-height: 19px }
ul.DkListClasse { list-style-type: none; margin: 0; padding: 0; width: 254px; }
ul.DkListClasse li { font-family: 'NokiaPureTextRegular'; font-size: 1.5em; font-weight: normal; width: 234px; float: left; color: #fff; border-bottom: 1px solid #1f1f1f; padding: 1px 11px 0 9px }
ul.DkListLogo { margin: 0; padding: 0; list-style-type: none; position: absolute; z-index: 1; left: 12px; bottom: 13px; height: 31px;}
ul.DkListLogo li {float: left; height: 31px;}
.DkLogoNokia { background: url(../images/logo-nokia.png) no-repeat left top; width: 59px; height: 31px; display: block;}
.DkLogoOrange { background:url(../images/logo-orange.png) no-repeat left top; width: 30px; height: 31px; margin: 0 0 0 21px; display: block}
.DkFooter { overflow: hidden}
ul.DkLinkFooter { margin: 0; padding: 1px 0 11px 0; list-style-type: none; float: right;}
ul.DkLinkFooter li { float: left; font-family: 'NokiaPureTextBold'; font-size: 1em; font-weight: normal; text-transform: uppercase}
ul.DkLinkFooter li a { text-decoration: none; color: #000; padding: 0 6px}
ul.DkLinkFooter li a.End {padding: 0 0 0 6px}
.DkTxtFooter { color: #a1a1a1; clear: both}
.DkTxtFooter p {font-size: 0.9em; line-height: 11px; margin-bottom: 4px}
.DkBlockInfo {height: 156px; width: 330px; position: relative; margin: 0 0 0 0; float: left; overflow: hidden;}
.DkAvarta { width: 111px; height: 156px; float: left}
.DkTxtInfo { width: 215px; height: 156px; float: left; overflow: hidden;}
.BtnLike,
.BtnJe { background: url(../images/sprites.png) no-repeat left -529px; height: 44px; padding: 0 0 0 49px; border: none; text-transform: uppercase; outline:none; margin: 0 0 0 -2px; display: block; float: left; text-decoration: none;}
.BtnLike span,
.BtnJe span { background: url(../images/sprites.png) no-repeat right -529px ; height: 44px; line-height: 44px; float: left; font-family: 'NokiaPureTextBold'; font-size: 2.3em; font-weight: normal; color: #fff; cursor: pointer; padding: 0 28px 0 0}
.BtnJe span { padding: 0 17px 0 0}
.BtnLike:hover { background-position: left -585px}
.BtnLike:hover span { background-position: right -585px}
.DkTxtInfo .BtnLike { margin: 0 0 0 1px}
.DkAbtxt { font-family: 'HelveticaNeueLTStd55Roman'; font-size:0.9em; font-weight: normal; position: absolute; z-index: 2; color: #fff; left: 99px; bottom: 18px; color: #3d3d3d;}
.DkAbtxt span { font-family: 'HelveticaNeueLTStd45Light'; font-size:1.1em; font-weight: normal; margin-left: 5px}
.DkMarTop01 { margin-top: 35px; margin-left: -4px}
.BlockLike { padding: 57px 0 0 0;}
.DkBlockTitle { width: 236px; clear: both; margin: 0 0 12px 27px}
.DkAvartaLike { padding: 10px 0 0 4px}
.DkBlockInfoExt { margin: 15px 0 0 22px; width: 290px}
.ArrowTop { background: url(../images/sprites.png) no-repeat right -337px; width: 288px; padding: 16px 0 13px 0; position:absolute; top: 0px; right: 92px; z-index: 9; cursor: pointer}
.DkmainNonLike { background-position: 0 7px; height: 624px; padding-top: 7px;}
.DkVotreHour { position: absolute; top: 29px; right: 5px; text-align: right;}
.DktxVotre { background: url(../images/sprites.png) no-repeat left -448px; margin: 0; padding: 5px 0 5px 35px; font-family: 'NokiaPureTextBold'; font-size: 1.4em; font-weight: normal; color: #ff0097; text-transform: uppercase}
.DktxtHour { font-family: 'NokiaPureTextBold'; font-size: 4em; font-weight: normal; color: #ff0097; margin: 0px 0 0 0; padding:0}
.PopupStyle {width: 300px;}
.BoderAvarta { width: 75px; height: 75px; border: 1px solid #ededed; float: left; margin-right: 8px}
.BoderAvarta img { border: none}
.DkMarTop01 .Dktxt05 { padding: 7px 0 11px 0;}
.DkMarTop01 .DkTxtInfo .BtnLike { margin: 0 0 0 -1px}
.DkMarTop01 .DkAbtxt { bottom: 19px}

/* Game */
.ui-draggable-dragging { border: 2px solid #ff0097; }
.ui-state-hover { filter: alpha(opacity=70); opacity: 0.7; }
#inviteBtn:hover{
  background-position: left -585px ;
}
#inviteBtn:hover span{
  background-position: right  -585px ;
}